html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f9fa;
  color: #343a40;
  transition: background-color 0.5s ease, color 0.5s ease; /* 부드러운 배경색 및 글자색 전환 */
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  cursor: pointer;
}

.card-text {
  cursor: pointer;
}

blockquote {
  margin-top: 1rem;
  padding: 1rem;
  border-left: 5px solid #6c757d;
  background-color: #f8f9fa;
  font-size: 1.2rem;
  font-style: italic;
  color: #6c757d;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

blockquote:hover {
  background-color: #e9ecef;
  border-color: #495057;
}

.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}

.dark-mode .card {
  background-color: #495057;
  color: #f8f9fa;
}

.dark-mode .blockquote {
  background-color: #495057;
  border-color: #ced4da;
  color: #ced4da;
}

.dark-mode .blockquote:hover {
  background-color: #6c757d;
  border-color: #adb5bd;
}
